.add-item{
  width: 500px;
  margin: 40px auto;
  border: 1px solid #efefef;
  padding: 20px;
  border-radius: 8px;
}

.add-item input, .add-item h2{
  margin: 0 0 20px 0;
}

.file-label{
  width: 100%;
}

.file-cta, .file-name{
  width: 50%;
}
